<section class="how-we-work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="how-we-work__top">
          <h2 class="title title_dark">
            How SoterSpine Works
          </h2>
          <p class="text">
            SoterCoach puts the worker first through human-centric design what makes it very easy to use,
            manage and scale across organizations of any sizes and industries. The solution implementation
            process takes less than 1 hour for 100’s of workers, while a tangible result is already observed
            after 10 days of use.
          </p>
        </div>
      </div>
    </div>
    <div class="row how-we-work__bottom">
      {% for card in howWeWork.cards %}
        <div class="col-12 col-sm-6 col-md-4 how-we-work__item">
          <div class="how-we-work__card">
            <div class="how-we-work__card-top">
              <div class="how-we-work__card-step">step <b>0{{ loop.index }}</b></div>
              <div class="how-we-work__card-image"><img src="./assets/img/how-we-work/{{ card.image }}"
                                                        alt="Изображение"></div>
            </div>
            <div class="how-we-work__card-bottom">
              <p>{{ card.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>