<div class="product-list scrolling" id="more">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="product-list__description">
          <h2>SoterCoach.<br> Learn by Working.&nbsp;™</h2>
          <p>SoterCoach is the first wearable solution &amp; training program that uses AI to improve an individual's ergonomic safety.</p>
          <p>It delivers personalized coaching to workers using a wearable device and provides recommendations via a mobile app. The solution has been proven and the typical worker improves their ergonomic safety by reducing the hazardous movements they make by between 30-70%.</p>
          <p>With 10,000+ workers already on board, organizations around the globe have seen up to 55% injury reduction.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div class="product-list__image balls-cr-sm balls-rb-md">
          <img src="./assets/img/product-list/2.png" alt="Product photo">
        </div>
      </div>
    </div>
  </div>
</div>