@import "./modules/fonts";
@import "./modules/common";
@import "./modules/interface";
@import "./modules/article-card";
@import "./modules/hamburgers-settings";
@import "./modules/hamburgers";
@import "./modules/pagination";
@import "./modules/header";
@import "./modules/main-top";
@import "./modules/sponsors";
@import "./modules/solutions";
@import "./modules/cases";
@import "./modules/products";
@import "./modules/successes";
@import "./modules/feedback";
@import "./modules/request";
@import "./modules/features";
@import "./modules/accent";
@import "./modules/how-we-work";
@import "./modules/training-programs";
@import "./modules/clients";
@import "./modules/privacy";
@import "./modules/privacy-detail";
@import "./modules/product-list";
@import "./modules/use-cases";
@import "./modules/use-cases-product";
@import "./modules/answer";
@import "./modules/try-soter";
@import "./modules/key-features";
@import "./modules/soter-spine";
@import "./modules/copy";
@import "./modules/product";
@import "./modules/order";
@import "./modules/solutions-list";
@import "./modules/faq";
@import "./modules/measures";
@import "./modules/phases";
@import "./modules/smart";
@import "./modules/press";
@import "./modules/modal";
@import "./modules/change-currency";
@import "./modules/cookies";
@import "./modules/article";
@import "./modules/articles";
@import "./modules/up-button";
@import "./modules/title-text";
@import "./modules/case-feedback";
@import "./modules/results";
@import "./modules/graphics";
@import "./modules/our-blog";
@import "./modules/safety";
@import "./modules/our-interests";
@import "./modules/our-presentation";
@import "./modules/our-mission";
@import "./modules/our-team";
@import "./modules/our-offices";
@import "./modules/pricing";
@import "./modules/sections";
@import "./modules/ui";
@import "./modules/footer";



