<section class="phases">
  <div class="container">
    <div class="row phases__top data-num=phase 1">
      <div class="col-12 col-lg-7">
        <div class="phases__head-title">
          <h2>And Now The System Is Starting To Overtake Traditional Standards, Powered By AI</h2>
        </div>
      </div>
      <div class="col-12 col-lg-5 d-flex align-items-center">
        <div class="phases__head-text">
          <p>Traditional standards specify what 'typical' humans can withstand. In the case of ergonomic and
            manual handling risk, these usually estimate how many higher-risk movements a person should make
            within a time period and how much weight or force a person should be able to safely
            withstand.</p>
          <p>At Soter Analytics we're building a system that self-learns and gives personalised feedback to
            each individual worker, helping them avoid the movements that might increase their own risk of
            injury.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="phases__list">
          <ol>
            {% for phase in phases %}
              <li>{{ phase }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="#" class="button button_blue">trial soterspine</a>
      </div>
    </div>
  </div>
</section>