<section class="request">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="request__top p-sx-30">
          <div class="success-image"></div>
          <h2 class="title title_light">Leave A Request</h2>
          <p class="text text_light">One of Our Team Will Contact You</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="request__block">
          <form action="#" id="request-form">
            <input type="hidden" name="formname" value="request form">
            <input type="hidden" name="formname-second" value="Contact form">
            <div class="request__form-row">
              <div class="request__input-wrapper request__user">
                <input type="text" name="name" class="request__input form-control" id="request-name"
                       required>
                <label for="request-name">Full Name</label>
              </div>
              <div class="request__input-wrapper request__phone">
                <input type="tel" name="phone" class="request__input form-control" id="request-phone"
                       required>
                <label for="request-phone">Phone number</label>
              </div>

            </div>
            <div class="request__form-row">
              <div class="request__input-wrapper request__mail">
                <input type="email" name="email" class="request__input form-control" id="request-email"
                       required>
                <label for="request-email">EMAIL</label>
              </div>
              <div class="request__input-wrapper request__company">
                <input type="text" name="company" class="request__input form-control"
                       id="request-company" required>
                <label for="request-company">Company</label>
              </div>
            </div>
            <div class="request__form-row">
              <div class="request__input-wrapper">
                                <textarea name="message" rows="1" class="request__input form-control"
                                          id="request-message" required></textarea>
                <label for="request-message">Message</label>
              </div>
            </div>
            <button class="button button_white request__submit" type="submit" id="request-button">Send request</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 col-lg-6">
        <div class="request__bottom">
          <p>By submitting this form, you confirm that you have read and agree to the Privacy Policy and Terms &
            Conditions and consent to the storage and usage of the personal data submitted to allow one of our
            team to contact you. You also wish to sign up for our monthly newsletter to receive the latest
            updates from the Soter Team.</p>
        </div>
      </div>
    </div>
  </div>
</section>