<section class="order">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-5 order__left">
        <div class="order__preview">
          <div class="order__preview-top">
            <img src="./assets/img/order/coach.png" alt="Продукт">
          </div>
          <div class="order__preview-bottom">
            <div class="order__preview-image"><img src="./assets/img/order/coach-back.png" alt="Вид сзади">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/coach-side.png" alt="Вид сбоку">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/coach-mobile.png"
                                                   alt="Вид на мобилке"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-7 order__right">
        <div class="order__main-block">
          <h2>
            SoterCoach
          </h2>
          <p>The SoterCoach wearable device and training program uses AI to coach workers to self-correct
            their movements in real-time to avoid ergonomic injuries. The solution typically reduces
            hazardous movements by 30% to 70%.</p>
          <p>
            One SoterCoach pack consists of the wearable device, 3 months of the personalized training
            program subscription and full access to the Soter Dashboard.
          </p>
          <small><span>*</span>The device will be send in white or black color depending on its
            availability</small>
          <form action="#" id="order-coach-form">
            <div class="add-info">
              If you'd like to order more than 20 devices simply contact us via the <a href="#"><i>form
                  below</i></a>
            </div>
            <input type="hidden" name="formname" value="order form">
            <input type="hidden" name="formname-second" value="Order form">
            <div class="order__form-row">
              <div class="order__quantity">
                <p>Quantity</p>
                <div class="order__quantity-wrapper">
                  <span class="order__quantity-button up"></span>
                  <span class="order__quantity-button down"></span>
                  <input type="number" id="coach-quantity-order" min="1" name="coach-quantity-order"
                         value="1" required>
                </div>
              </div>
              <div class="order__subs">
                <p>Subscription</p>
                <div class="order__subs-wrapper">
                  <label for="coach-subs-order-month"><input type="radio" id="coach-subs-order-month"
                                                             name="coach-subs-order"
                                                             checked
                                                             value="3 month"
                                                             required
                    ><span></span><span
                        class="text">3 months</span>
                  </label>
                  <label for="coach-subs-order-year"><input type="radio" id="coach-subs-order-year"
                                                            name="coach-subs-order"
                                                            value="1 year" required
                    ><span></span><span
                        class="text">1 year</span>
                  </label>
                </div>
              </div>
              <div class="order__price">
                <p>Price</p>
                <div class="order__price-wrapper">
                  <input type="text" value="125$" name="coach-price-order" id="coach-price-order"
                         readonly>
                </div>

              </div>
            </div>
            <div class="order__form-row">
              <div class="order__programs">
                <p>Training Programs</p>
                <div class="order__programs-wrapper">
                  <label for="coach-program-manual"><input type="radio" id="coach-program-manual"
                                                           name="coach-program"
                                                           value="Manual Handling Training" required
                                                           checked><span></span><span
                        class="text">Manual Handling Training</span>
                  </label>
                  <label for="coach-program-injury"><input type="radio" id="coach-program-injury"
                                                           name="coach-program"
                                                           value="Early Injury Intervention" required><span></span><span
                        class="text">Early Injury Intervention</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="order__form-row">
              <div class="order__additional">
                <ul id="coach-month-list">
                  <li id="coach-month-quantity">1 Soter Device</li>
                  <li id="coach-month-price">$375 for 3 months of subscription per device</li>
                </ul>
                <ul id="coach-annual-list">
                  <li id="coach-annual-quantity">1 Soter Device</li>
                  <li id="coach-annual-price">$1200 for annual subscription per device</li>
                </ul>
                <div class="order__button-wrapper">
                  <button class="button button_blue" type="button" id="coach-order-button">order now
                  </button>
                  <small>Prices shown in USD <span class="call-change-currency"
                                                   id="coach-currency">Change</span></small>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" style="background: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-5 order__left">
        <div class="order__preview">
          <div class="order__preview-top">
            <img src="./assets/img/order/clipngo.png" alt="Продукт">
          </div>
          <div class="order__preview-bottom">
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-back.png"
                                                   alt="Вид сзади">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-side.png"
                                                   alt="Вид сбоку">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-mobile.png"
                                                   alt="Вид на мобилке"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-7 order__right">
        <div class="order__main-block">
          <h2>
            Clip&Go
            Starter Pack
          </h2>
          <p>Specifically designed for large facilities, Clip&Go helps raise awareness and then reduce the
            manual handling movements that contribute to musculoskeletal pain, lost workdays and injury
            claims.</p>
          <p>
            Clip&Go consists of the charging hub with an integrated tablet, 10 wearable devices and a
            monthly or annual personalized training program subscription per item.
          </p>
          <form action="#" id="order-clipngo-form">
            <div class="add-info">
              If you'd like to order more than 20 devices simply contact us via the <a href="#"><i>form
                  below</i></a>
            </div>
            <input type="hidden" name="formname" value="order form">
            <input type="hidden" name="formname-second" value="Order form">
            <div class="order__form-row">
              <div class="order__subs">
                <p>Subscription</p>
                <div class="order__subs-wrapper">
                  <label for="clipngo-subs-order-month"><input type="radio"
                                                               id="clipngo-subs-order-month"
                                                               name="clipngo-subs-order"
                                                               checked
                                                               value="3 month"
                                                               required><span></span><span
                        class="text">3 months</span>
                  </label>
                  <label for="clipngo-subs-order-year"><input type="radio"
                                                              id="clipngo-subs-order-year"
                                                              name="clipngo-subs-order"
                                                              value="1 year"
                                                              required><span></span><span
                        class="text">1 year</span>
                  </label>
                </div>
              </div>
              <div class="order__price">
                <p>Price</p>
                <div class="order__price-wrapper">
                  <input type="text" value="125$" name="clipngo-price-order" id="clipngo-price-order"
                         readonly>
                </div>

              </div>
            </div>
            <div class="order__form-row">
              <div class="order__additional">
                <ul>
                  <p><b>What’s included in the pack:</b></p>
                  <li>1 Charging Hub & Tablet</li>
                  <li>10 Soter Devices</li>
                  <li>10x 3 month of subscription per device</li>
                </ul>
                <ul>
                  <p><b>What’s included in the pack:</b></p>
                  <li>1 Charging Hub & Tablet</li>
                  <li>10 Soter Devices</li>
                  <li>10x annual subscriptions per device</li>
                </ul>
                <div class="order__button-wrapper">
                  <button class="button button_blue" type="button" id="clipngo-order-button">order now
                  </button>
                  <small>Prices shown in USD <span class="call-change-currency"
                                                   id="clipngo-currency">Change</span></small>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-5 order__left">
        <div class="order__preview">
          <div class="order__preview-top">
            <img src="./assets/img/order/clipngo.png" alt="Продукт">
          </div>
          <div class="order__preview-bottom">
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-back.png"
                                                   alt="Вид сзади">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-side.png"
                                                   alt="Вид сбоку">
            </div>
            <div class="order__preview-image"><img src="./assets/img/order/clipngo-mobile.png"
                                                   alt="Вид на мобилке"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-7 order__right">
        <div class="order__main-block">
          <h2>
            Soter Armband
          </h2>
          <p>An official Soter armband to wear SoterCoach device on a shoulder position</p>
          <form action="#" id="order-armband-form">
            <div class="add-info">
              If you'd like to order more than 30 devices simply contact us via the <a href="#"><i>form
                  below</i></a>
            </div>
            <input type="hidden" name="formname" value="order form">
            <input type="hidden" name="formname-second" value="Order form">
            <div class="order__form-row">
              <div class="order__quantity">
                <p>Quantity</p>
                <div class="order__quantity-wrapper">
                  <span class="order__quantity-button up"></span>
                  <span class="order__quantity-button down"></span>
                  <input type="number" id="armband-quantity-order" min="1" name="armband-quantity-order"
                         value="1" required>
                </div>
              </div>
              <div class="order__price">
                <p>Price</p>
                <div class="order__price-wrapper">
                  <input type="text" value="125$" name="clipngo-price-order" id="clipngo-price-order"
                         readonly>
                </div>
              </div>
            </div>
            <div class="order__form-row">
              <div class="order__additional">
                <ul class="active">
                  <p><b>What’s included in the pack:</b></p>
                  <li>1 Soter Armband</li>
                </ul>
                <div class="order__button-wrapper">
                  <button class="button button_blue" type="button" id="armband-order-button">order now
                  </button>
                  <small>Prices shown in USD <span class="call-change-currency"
                                                   id="armband-currency">Change</span></small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Soter Armband-->