<section class="solutions-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="solutions-list__head">
          <h1>Try Soter Solutions With Your Workforce</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="solutions-list__list">
          <ul>
            <li>Order a limited implementation of the Soter Solution <img src="./assets/img/solutions-list/1.svg" alt="иконка"></li>
            <li>Deploy the Solution with selected workers <img src="./assets/img/solutions-list/2.svg" alt="иконка"></li>
            <li>Monitor & review results, refine business processes <img src="./assets/img/solutions-list/3.svg" alt="иконка"></li>
            <li>Broader workforce rollout <img src="./assets/img/solutions-list/4.svg" alt="иконка"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="solutions-list__footer">
          <p><b>Choose the Solution That Suits Your Unique Needs</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
