<section class="copy">
  <div class="container-fluid container-md">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-8 copy__text">
        <div class="copy__text-item">
          <h2>
            Download The White <br> Paper To Learn About:
          </h2>
          <ul>
            <li>The science behind SoterSpine and how it works</li>
            <li>How to automate ergonomics processes</li>
            <li>Leveraging your return on investment</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 copy__form">
        <div class="copy__success">
          <img src="./assets/img/copy/success.svg" alt="Успех">
          <p>Thank you!</p>
          <small>Download your copy here</small>
          <a href="https://drive.google.com/file/d/1JZY49zKlAmLv8Ropd7yFHZHcJw35CYVM/view?usp=sharing" class="button button_blue" id="copy__success-button">Download now</a>
        </div>
        <form action="#" id="copy-form">
          <p>Get your copy</p>
          <input type="hidden" name="formname" value="copy form">
          <input type="hidden" name="formname-second" value="Get copy form">
          <div class="request__form-row">
            <div class="request__input-wrapper request__user">
              <input type="text" name="name" class="request__input form-control" id="request-name"
                     required>
              <label for="request-name">Full Name</label>
            </div>
            <div class="request__input-wrapper request__mail">
              <input type="email" name="email" class="request__input form-control" id="request-email"
                     required>
              <label for="request-email">E-mail</label>
            </div>
          </div>
          <div class="request__form-row">
            <div class="request__input-wrapper request__phone">
              <input type="tel" name="phone" class="request__input form-control" id="request-phone"
                     required>
              <label for="request-phone">Phone</label>
            </div>
            <div class="request__input-wrapper request__company">
              <input type="text" name="company" class="request__input form-control"
                     id="request-company" required>
              <label for="request-company">Company</label>
            </div>
          </div>
          <button class="button button_blue request__submit" type="submit" id="copy-button">Download now</button>
          <small>*By submitting this form, you confirm that you have read and agree to the Privacy Policy and
            Terms & Conditions and consent to the storage and usage of the personal data submitted to allow
            one of our team to contact you. You also wish to sign up for our monthly newsletter to receive
            the latest updates from the Soter Team.
          </small>
        </form>
      </div>
    </div>
  </div>
</section>