<section class="spine">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 spine__text">
        <div class="spine__text-item">
          <h1>Drive Down Worker Injury Rates by Successfully Implementing the SoterSpine Solution</h1>
          <p>Leveraging technology to address risks and hazards in the workplace can be a lengthy process if not
            well understood and deployed with care and knowledge about the product and what it can do for your
            organization.
          </p>
          <p>
            Soter provides a solution that showcases a direct investment towards the safety and wellbeing of the
            individual while also complementing the general work environment and the organization. Boasting
            accuracy above that of other observational techniques, minimally invasive, easy to implement, and
            delivering multi-level results from the individual worker to the upper management.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-5 spine__image">
        <div class="spine__image-item">
          <img src="./assets/img/soter-spine/cover.jpg" alt="Обложка">
        </div>
      </div>
    </div>
  </div>
</section>
