<section class="article">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="article__sticky-content">
          <div class="article-nav">
            <p>In this article</p>
          </div>
          <a href="https://soteranalytics.com/solutions/sotercoach/" class="article__link">
            <img src="../assets/img/article/article-link.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <article class="article-content">
          <div class="article-content__category">
            Category: <a class="article-content__category-name">Quality Control</a>
          </div>
          <!--                    <h2>Quality Assurance and Quality Control:</h2>-->
          <p>
            We all have our own ideas on what quality is supposed to be. But in the context of the products
            and services we pay for, the work we do, and the life we live, we all want and strive for good
            quality.
          </p>
          <p>
            People can be thrifty, but most of us are willing to pay top dollar for what we judge to be of
            good quality. This is the reason why successful companies go to great lengths and spend a
            considerable amount of time and resources to provide good quality. Achieving, ensuring, and
            maintaining good quality, however, are different disciplines.
          </p>
          <p>
            Products of good quality create demand, meeting demand generates profit, and profit is used to
            create supply and meet demand. This is the cycle of success which starts when a company
            achieves, ensures, and maintains good quality.
          </p>
          <!--                    <h2>How is it Different From Quality Control?</h2>-->
          <p>
            Typically, each territory would have their own merchant guild (sellers of goods and services),
            and craft guild (blacksmiths, masons, bakers, haberdashers, and other workers that serve the
            essentials of daily living). Guilds screened applicants and shouldered the apprenticeship costs
            of new members. Aside from training guild members in the industry’s best practices, guilds also
            performed inspections to ensure that the products and services of their members complied with
            the accepted standards at the time.
          </p>
          <p>
            The next significant period in the development of QA and QC was the First Industrial Revolution.
            According to Prof. Christoph Roser, it began in 1715, when the Englishman John Lombe went to
            Italy to copy an Italian design for a mechanized silk loom. In subsequent years, division of
            labor was put into practice. This made the entire production process more efficient and improved
            quality assurance because it allowed workers and machines to focus on a single task.
          </p>
          <p>
            In the early 19th century, Americans Frederick Winslow Taylor and Henry Ford advocated
            industrial efficiency, with the latter becoming famous for developing the assembly line as a
            method of mass production.
          </p>
          <!--                    <h2>What are ISO Standards?</h2>-->
          <p>
            ISO stands for International Organization for Standardization. It is an independent organization
            currently composed of 164 countries and is the world’s leading authority and regulating body for
            safety and quality standards in manufacturing and service.
          </p>
          <p>
            ISO Standards are specific criteria set by ISO covering different aspects of business
            operations. By applying for and passing an ISO audit for a certain standard, a company earns a
            coveted ISO Certification. Having an ISO Certification boosts your company’s trustworthiness in
            the eyes of prospective clients and gives you a considerable competitive advantage over rivals
            who have yet to acquire theirs.
          </p>
          <h3>
            Common ISO Standards
          </h3>
          <p>
            To date, ISO boasts almost 22,000 standards and certifications covering a wide variety of
            operational aspects. Below are some of the most common standards companies strive for:
          </p>
          <h4>ISO 9001:2015</h4>
          <p>
            Last updated in 2015, ISO 9001:2015 specifies the requirements for a company’s QMS (Quality
            Management System). It aims to assess an operation’s ability to consistently deliver
            high-quality products and services while meeting customer expectations and relevant statutory
            and regulatory requirements.
          </p>
          <h4>ISO 22000</h4>
          <p>
            ISO 22000 provides requirements for developing and implementing a Food Safety Management System
            (FSMS). This certification is a must-have for companies in the food processing and food service
            industries.
          </p>
          <!--                    <h2>QA Techniques and Principles</h2>-->
          <p>
            Modern manufacturing SOPs may vary depending on the industry, nature of the business, and brand.
            What highly successful corporations have in common, however, is their embodiment of the tried
            and tested QA techniques and principles listed below.
          </p>
          <p>
            Seiri (Sort), Seiton (Set in Order), Seiso (Shine), Seiketsu (Standardize), and Shitsuke
            (Sustain) are the processes involved in 5S. This system focuses on organizing the workplace,
            ensuring that items, equipment, documents, and other workplace staples are in their proper
            places so that work performance can improve organically through management and safety.
          </p>
          <!--                    <h2>Different Use Cases for Quality Assurance and Quality Control Templates</h2>-->
          <p>
            Listed below are use cases for QA and QC templates covering different aspects of an operation.
            Utilizing the right template for the right job can help boost efficiency, prevent downtime, and
            ensure worker safety.
          </p>
          <p>
            An operational readiness checklist is a structured project assessment tool that outlines the
            processes that must be taken before work commences. Using an operational readiness checklist can
            help ensure that the correct safety and mandatory measures have been taken care of so operations
            can proceed without a hitch.
          </p>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ol>
          <p>
            Commissioning checklists are used in the process of verifying the performance of facilities,
            systems, and assemblies to ensure trouble-free outcomes and mitigate the risk of unplanned
            outages. Project managers, contractors, and construction engineers also perform
            pre-commissioning to confirm that equipment installation and function follows client
            specifications.
          </p>
          <a href="https://soteranalytics.com/solutions/sotercoach/" class="article__link">
            <img src="../assets/img/article/article-link_mobile.png" alt="">
          </a>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        <hr>
        <div class="article__author">
          <div class="author-info">
            <div class="author-info__image">
              <img src="./assets/img/article/man.jpg" alt="">
            </div>
            <div class="author-info__text">
              <span>Author</span>
              <div class="author-info__name">Jack Nickolson</div>
              <div class="author-info__prof">Product Designer Consulting Company</div>
            </div>
          </div>
          <div class="share">
            <span>Share it</span>
            <div class="share__buttons">
              Place to add share buttons
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        <div class="article__featured-articles">
          <h2>Featured Articles</h2>
          <div class="article__featured-articles-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide article__featured-articles__slide">
                <a class="article-card" href="#someid">
                  <div class="article-card__image">
                    <img src="./assets/img/articles/1.jpg" alt="">
                    <span class="article-card__date">15.05.20</span>
                  </div>
                  <div class="article-card__desc">
                    <div class="article-card__title">Quality Assurance and Quality Control</div>
                    <p>their tools and
                      methodologies, and how they can be used to improve business performance.</p>
                    <div class="article-card__more"><b>Learn more</b> <img
                          src="./assets/img/cases/arrow.svg" alt=""></div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide article__featured-articles__slide">
                <a class="article-card" href="#someid">
                  <div class="article-card__image">
                    <img src="./assets/img/articles/1.jpg" alt="">
                    <span class="article-card__date">15.05.20</span>
                  </div>
                  <div class="article-card__desc">
                    <div class="article-card__title">Quality Assurance and Quality Control</div>
                    <p>Learn the difference between QA and QC practices, their tools and
                      methodologies, and how they can be used to improve business performance.</p>
                    <div class="article-card__more"><b>Learn more</b> <img
                          src="./assets/img/cases/arrow.svg" alt=""></div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide article__featured-articles__slide">
                <a class="article-card" href="#someid">
                  <div class="article-card__image">
                    <img src="./assets/img/articles/1.jpg" alt="">
                    <span class="article-card__date">15.05.20</span>
                  </div>
                  <div class="article-card__desc">
                    <div class="article-card__title">Quality Assurance and Quality Control</div>
                    <p>Learn the difference between QA and QC practices, their tools and
                      methodologies, and how they can be used to improve business performance.</p>
                    <div class="article-card__more"><b>Learn more</b> <img
                          src="./assets/img/cases/arrow.svg" alt=""></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="pagination-wrapper  d-md-none">
            <div class="pagination-container">
              <div class="little-dot nav-dot little-dot--first"></div>
              <div class="little-dot">
                <div class="big-dot"></div>
              </div>
              <div class="little-dot nav-dot little-dot--last"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        <div class="article__newsletter">
          <div class="article__newsletter-success">
            <h2>Thank you for subscribing!</h2>
          </div>
          <form>
            <h2>Sign up for our newsletter!</h2>
            <p>We never send spam or unnecessary information - only the latest articles, answers to
              questions and interesting interviews!</p>
            <div class="article__newsletter-wrapper">
              <div class="article__newsletter-input">
                <input type="email" id="article__newsletter-email" name="email">
                <label for="article__newsletter-email">E-mail</label>
              </div>
              <button type="submit" class="button button_white button_color_dark">subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        <div class="article__explore">
          <h2>Explore Soter Solutions</h2>
          <div class="explore-cards">
            <ul>
              <li>
                <div class="explore-cards__card">
                  <div class="explore-cards__image">
                    <img src="./assets/img/article/sotercoach.png" alt="">
                  </div>
                  <div class="explore-cards__content">
                    <span>SoterCoach</span>
                    <div class="explore-cards__text">
                      <p>The wearable device that gives personalized feedback accompanied by a
                        mobile
                        app & micro-learning for workers to self-correct their movements in
                        real-time. All data is accessible via the analytics dashboard.</p>
                    </div>
                    <a href="#" class="button button_blue">Explore sotercoach</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="explore-cards__card">
                  <div class="explore-cards__image">
                    <img src="./assets/img/article/clipngo.png" alt="">
                  </div>
                  <div class="explore-cards__content">
                    <span>Clip&Go</span>
                    <div class="explore-cards__text">
                      <p>Personal app-free solution for worksites where is no opportunity to use
                        mobile phones. All data is stored, synchronized & analyzed in the
                        communal
                        device management app.</p>
                    </div>
                    <a href="#" class="button button_blue">Explore Clip&Go</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>