<section class="use-cases-product">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 use-cases-product__text">
        <h2>
          Start Preventing
          Back Injuries With SoterCoach
        </h2>
        <p>
          The wearable device, personal mobile app & tutorials for workers to self-correct their movements in
          real-time. All the data is also accessible via the analytics dashboard.
        </p>
        <a href="#" class="button button_blue">try soter</a>
      </div>
      <div class="col-12 col-lg-6 use-cases-product__image">
        <img src="./assets/img/use-cases-product/1.jpg" alt="Картинка">
      </div>
    </div>
  </div>
</section>