<section class="try-soter">
  <div class="container-fluid container-md">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7 try-soter__left">
        <div class="try-soter__top-text">
          <h2>Try SoterSpine With Your Workforce</h2>
          <p>Ensure how the wearable device can reduce ergonomic injuries in your workplace by 55%</p>
        </div>
        <div class="try-soter__reasons">
          <h3>Why Trial?</h3>
          {% for reason in reasons %}
            <div class="try-soter__reasons-item">
              <div class="item-icon">
                <img src="./assets/img/try-soter/{{ reason.icon }}" alt="Иконка">
              </div>
              <div class="item-text">
                <h4>{{ reason.title }}</h4>
                <p>{{ reason.text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 try-soter__right">

        <form action="#" id="trial-form">
          <div class="try-soter-success">
            <div class="success-image" style="display: block"></div>
            <p>Thank you for the request!</p>
            <small>Our team member will contact you soon</small>
          </div>
          <p>Fill out the form and our team members will contact you!</p>
          <input type="checkbox" name="mc4wp-subscribe" value="1" style="display:none" checked/>
          <input type="hidden" name="formname" value="try-soter form">
          <input type="hidden" name="formname-second" value="Try product form">
          <div class="request__form-row">
            <div class="request__input-wrapper request__user">
              <input type="text" name="name" class="request__input form-control" id="request-name"
                     required>
              <label for="request-name">Full Name</label>
            </div>
            <div class="request__input-wrapper request__phone">
              <input type="tel" name="phone" class="request__input form-control" id="request-phone"
                     required>
              <label for="request-phone">Phone number</label>
            </div>

          </div>
          <div class="request__form-row">
            <div class="request__input-wrapper request__mail">
              <input type="email" name="email" class="request__input form-control" id="request-email"
                     required>
              <label for="request-email">E-mail</label>
            </div>
            <div class="request__input-wrapper request__job">
              <input type="text" name="job" class="request__input form-control" id="request-job"
                     required>
              <label for="request-job">Job Title</label>
            </div>
            <div class="request__input-wrapper request__company">
              <input type="text" name="company" class="request__input form-control"
                     id="request-company" required>
              <label for="request-company">Company</label>
            </div>
          </div>
          <div class="request__form-row">
            <div class="request__input-wrapper request__message no-required">
                                <textarea name="message" rows="1" class="request__input form-control"
                                          id="request-message"></textarea>
              <label for="request-message">Message</label>
            </div>
          </div>
          <small>*By submitting this form, you confirm that you have read and agree to the Privacy Policy and
            Terms & Conditions and consent to the storage and usage of the personal data submitted to allow
            one of our team to contact you. You also wish to sign up for our monthly newsletter to receive
            the latest updates from the Soter Team.
          </small>
          <button class="button button_white button_color_dark request__submit" id="try-soter-button" type="submit">Try Soter</button>
        </form>
      </div>
    </div>
  </div>
</section>