<section class="privacy-detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pagecontent">
          <h1>Privacy UK & EEA</h1>
          <hr>
          <h2>Background:</h2>
          <p>Soter Analytics LTD understands that your privacy is important to you and that you care about how
            your information is used and shared online. We respect and value the privacy of everyone who
            visits Our Site and uses Our Services and will only collect and use information in ways that are
            useful to you and in a manner consistent with your rights and Our obligations under the law.</p>
          <p>This Policy applies to Our use of any and all data collected by us in relation to your use of Our
            Site and Our Services. Please read this Privacy Policy carefully and ensure that you understand
            it. Your acceptance of Our Privacy Policy is deemed to occur upon your first use of Our Site or
            Our Services. If you do not accept and agree with this Privacy Policy, you must stop using Our
            Site and Our Services immediately.</p>
          <h2>1. Definitions and Interpretation </h2>
          <p>In this Policy the following terms shall have the following meanings:
            <br>
            <b>“Account”</b> means an account required to access and/or use certain areas and features of
            Our Site;
            <br>
            <b>“Cookie”</b> means a small text file placed on your computer or device by Our Site when you
            visit certain parts of Our Site and/or when you use certain features of Our Site.
            <br>
            <b>“Our Site”</b> means the website, www.soteranalytics.com and www.soterspine.com
            <br>
            <b>“Our Services”</b> means any hardware or software owned and operated by Soter Analytics LTD,
            including but not limited to the SoterSpine solution.
            <br>
            <b>“We/Us/Our”</b> means Soter Analytics LTD, a limited company registered in England under
            company number 10782975
          </p>
          <h2>2. Information About Us</h2>
          <p>Our Site, and Our Services, are owned and operated by Soter Analytics LTD, a limited company
            registered in England under company number 10782975.
          </p>
          <h2>3. Scope – What Does This Policy Cover?</h2>
          <p>
            This Privacy Policy applies only to your use of Our Site and Our Services. It does not extend to
            any websites that are linked to from Our Site and Our Services (whether We provide those links
            or whether they are shared by other users). We have no control over how your data is collected,
            stored or used by other websites and We advise you to check the privacy policies of any such
            websites before providing any data to them.
          </p>
          <h2>4. What Data Do We Collect?</h2>
          <p>
            This Privacy Policy applies only to your use of Our Site and Our Services. It does not extend to
            any websites that are linked to from Our Site and Our Services (whether We provide those links
            or whether they are shared by other users). We have no control over how your data is collected,
            stored or used by other websites and We advise you to check the privacy policies of any such
            websites before providing any data to them.
          </p>
          <h2>5. How Do We Use Your Data?</h2>
          <p>
            This Privacy Policy applies only to your use of Our Site and Our Services. It does not extend to
            any websites that are linked to from Our Site and Our Services (whether We provide those links
            or whether they are shared by other users). We have no control over how your data is collected,
            stored or used by other websites and We advise you to check the privacy policies of any such
            websites before providing any data to them.
          </p>
          <h2>6. How and Where Do We Store Your Data?</h2>
          <p>
            We may, from time to time, expand or reduce Our business and this may involve the sale and/or
            the transfer of control of all or part of Our business. Data provided by users will, where it is
            relevant to any part of Our business so transferred, be transferred along with that part and the
            new owner or newly controlling party will, under the terms of this Privacy Policy, be permitted
            to use the data for the purposes for which it was originally collected by Us.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>