.accent{
  padding-top: 63px;
  padding-bottom: 63px;
  background:url("../img/accent/bg-mobile.svg"), #11274B;
  background-position: top left, center;
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
  @media screen and (min-width: $lg-width){
    padding-top: 73px;
    padding-bottom: 73px;
    background:url("../img/accent/bg-left-desktop.svg"), url("../img/accent/bg-right-desktop.svg"),  #11274B;
    background-position: top left, top right, center;
    background-size: contain;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  h2{
    margin-bottom: 32px;
    @media screen and (min-width: $md-width){
      padding-left: 51px;
      position: relative;
      margin-bottom: 0;
      font-size: 50px;
      line-height: 111%;
      &::before{
        display: block;
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        left: 0;
        top: 0;
        background: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    }
  }
  .button{
    width: calc(100% - 10px);
    margin: 0 auto;
    @media screen and (min-width: $md-width){

      margin: unset;
      width: auto;
    }
  }
  &__item{
    width: 100%;
    @media screen and (min-width: $md-width){
      padding: 0;
    }
  }
}