@use "sass:math";
.features{
  background: linear-gradient(90deg, #2096F3 0%, #2855C5 49.48%, #0851BF 100%);
  padding-top: 51px;
  padding-bottom: 57px;
  position: relative;
  overflow: hidden;
  &::before{
    display: block;
    content: url("../img/features/bg-balls-mobile.svg");
    position: absolute;
    left: 0;
    top: -43px;
    z-index: 1;
  }
  &::after{
    display: block;
    content: url("../img/features/bg-waves.svg");
    position: absolute;
    right: 0;
    bottom: -9px;
    z-index: 1;
  }
  @media screen and (min-width: $lg-width){
    &::before{
      content: url("../img/features/bg-balls.svg");
      top: -130px;
    }
    &::after{
      content: '';
      background: url("../img/features/bg-waves.svg") bottom right / contain  no-repeat;
      right: unset;
      left: 0;
      width: 100%;
      height: 100%;
    }
    padding-top: 130px;
    padding-bottom: 90px;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $lg-width){
      margin-left: -30px;
      margin-right: -30px;
    }
  }
  &__item{
    margin-bottom: 35px;
    position: relative;
    z-index: 2;
    color: white;
    flex-basis: 100%;
    flex-grow: 1;
    @media screen and (min-width: $md-width){
      padding: 0 30px;
      margin-bottom: 0;
      flex-basis: math.div(100% , 3);
    }
    &:last-child{
      margin-bottom: 0;
    }
    &-image{
      height: 100%;
      max-height: 60px;
      margin-bottom: 19px;
      text-align: center;
      @media screen and (min-width: $md-width){
        text-align: left;
        max-height: 70px;
        margin-bottom: 34px;
      }
      img{
        height: 100%;
        object-position: top left;
        object-fit: contain;
      }
    }
    &-text {
      > h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 7px;
        @media screen and (min-width: $md-width) {
          margin-bottom: 13px;
          font-weight: bold;
          font-size: 20px;
          line-height: 120%;
          text-align: left;
        }
      }
      >p{
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        min-height: 155px;
        @media screen and (min-width: $md-width){
          font-size: 14px;
          line-height: 160%;
          text-align: left;
        }
      }
    }
  }
}