@use "sass:math";
.feedback {
  padding: 51px 0;
  background: #F7FAFF;
  @media screen and (min-width: $md-width) {
    position: relative;
    &::before {
      display: block;
      content: url("../img/feedback/bg-figure.svg");
      position: absolute;
      z-index: 1;
      left: 120px;
      top: 213px;
    }
  }
  @media screen and (min-width: $lg-width) {
    padding-top: 98px;
    padding-bottom: 111px;
  }

  &__top {
    text-align: center;

    &::after {
      margin-top: 13px;
      margin-bottom: 68px;
      @media screen and (min-width: $lg-width) {
        margin-top: 21px;
      }
    }

    > span {
      font-weight: bold;
      font-size: 25px;
      line-height: 120%;
      display: block;
      @media screen and (min-width: $md-width) {
        max-width: 650.34px;
        margin: 0 auto;
        font-size: 55px;
      }
    }
  }

  &__block {
    .col-12 {
      padding: 0;
      @media screen and (min-width: $lg-width) {
        padding: 0 20px;
      }
    }

    .pagination-wrapper {
      margin-top: 31px;
      @media screen and (min-width: $lg-width) {
        display: none;
      }
    }
  }

  &__slider {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $lg-width) {
      margin: 0 -20px;
      margin-top: -40px;
    }
    .swiper-wrapper{
      @media screen and (min-width: $lg-width){
        justify-content: center;
      }
    }
  }

  &__slider.swiper-container-initialized {
    margin-top: -40px;
    padding: 0 20px;
    @media screen and (min-width: $md-width) {
      padding: 0 100px;
    }
  }

  &__item {
    //cursor: pointer;
    margin-top: 40px;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    position: relative;
    padding: 52px 15px 20px 15px;
    height: auto;
    @media screen and (min-width: $lg-width) {
      min-height: 280px;
      padding: 30px 40px 30px 109px;
      flex-basis: calc(100%);
      max-width: calc(100% / 2 + 100px);
    }
    @media screen and (min-width: $xl-width) {
      max-width: 483px;
      flex-basis: calc(100% / 2 - 82px - 15px);
      margin-left: 82px;
      margin-right: 15px;
      margin-top: 40px;
      &:nth-child(2n){
        flex-basis: calc(100% / 2 - 107px);
        margin-left: 107px;
        margin-right: 0;
      }
    }
    &::before{
      display: block;
      content: '';
      background: url("../img/feedback/quote.svg") center / contain no-repeat;
      position: absolute;
      right: 25px;
      top: 20px;
      width: 41px;
      height: 33px;
      @media screen and (min-width: $lg-width){
        width: 65px;
        height: 51px;
        right: 22px;
        top: 30px;
      }
      z-index: 0;
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 12px 17px rgba(8, 81, 191, 0.08);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: $lg-width) {
      width: 163px;
      height: 163px;
      -webkit-border-radius: math.div(163px , 2);
      -moz-border-radius: math.div(163px , 2);
      border-radius: math.div(163px , 2);
      top: 50%;
      transform: translateY(-50%);
      left: -81.5px;
    }
  }

  &__text {
    flex-grow: 1;
    text-align: center;
    position: relative;
    z-index: 1;
    @media screen and (min-width: $lg-width) {
      text-align: left;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    > span {
      font-weight: bold;
      line-height: 160%;
      font-size: 16px;
      color: $main-color;
      margin-bottom: 2px;
      display: block;
      @media screen and (min-width: $lg-width) {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }

    > p {
      font-size: 12px;
      line-height: 160%;
      color: $main-color;
      margin-bottom: 12px;
      @media screen and (min-width: $lg-width) {
        font-size: 14px;
      }

      b {
        color: #005CA5
      }
    }
  }
}