<section class="product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 product__left">
        <div class="product__image">
          <img src="./assets/img/product/image.jpg" alt="Изображение">
        </div>
      </div>
      <div class="col-12 col-lg-6 product__right">
        <div class="product__text">
          <h2>Introduction To SoterSpine</h2>
          <p>The wearable device which coaches workers to self-correct their movements in real-time to avoid ergonomic injuries.</p>
          <a href="#" class="button button_blue">
            get your copy
          </a>
        </div>
      </div>
    </div>
  </div>
</section>