<section class="accent">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 text-center text-md-left">
        <div class="accent__item">
          <h2 class="title title_light">Try SoterSpine <span class="text_accent">With Your Workforce</span>
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-3 d-md-flex justify-content-md-end align-items-md-center">
        <a href="#" class="button button_blue">Try Soter</a>
      </div>
    </div>
  </div>
</section>