<section class="our-mission">
  <div class="our-mission__wrapper">
    <div class="our-mission__text-block">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="our-mission__text">
              <h2>Our Mission</h2>
              <p>Empowering organizations to prevent ergonomic injuries in the workplace
                through technology and empowering each worker to improve their own ergonomic
                safety and avoid injury.
              </p>
              <a href="#" class="button button_blue">try soter</a>
              <div class="our-mission__slider-control">
                <div class="arrow-prev"></div>
                <div class="arrow-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-mission__slider-wrapper">
      <div class="container-fluid pr-0 h-100">
        <div class="row h-100">
          <div class="col-12 col-xl-6 offset-xl-6">

            <div class="our-mission__slider swiper-container">
              <div class="swiper-wrapper">
                {% for mission in missions %}
                  <div class="swiper-slide our-mission__slide">
                    <img
                        src="./assets/img/cases/{{ mission }}"
                        alt="Лого спонсора">
                  </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-mission__mobile-button">
          <a href="#" class="button button_blue">try soter</a>
        </div>
      </div>
    </div>
  </div>
</section>