<section class="our-offices">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-offices__title">
          <h2>Our Offices</h2>
          <p>Our offices and representatives are located in several countries of the world</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="our-offices__map">
          <picture>
            <source srcset="./assets/img/our-offices/map-lg.png" alt="" media="screen and (min-width:577px)">
            <source srcset="./assets/img/our-offices/map-sm.png" alt="">
            <img src="./assets/img/our-offices/map-lg.png" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>