<section class="our-presentation">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-presentation__block">
          <div class="our-presentation__text">
            <h2>
              Download Our Presentation
            </h2>
            <a href="#" class="button button_blue">download file</a>
          </div>
          <div class="our-presentation__image">
            <img src="./assets/img/our-presentation/1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>