<section class="graphics">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="graphics__content">
          <div class="graphics__column">
            <h2>Hazardous Movement Reduction 2019</h2>
            <picture>
              <source srcset="./assets/img/graphics/1.jpg" alt="" media="screen and (min-width:768px)">
              <source srcset="./assets/img/graphics/1-mob.jpg" alt="">
              <img src="./assets/img/graphics/1.jpg" alt="">
            </picture>

          </div>
          <div class="graphics__column">
            <h2>Y/Y Manual Handling Injury Reduction</h2>
            <picture>
              <source srcset="./assets/img/graphics/2.jpg" alt="" media="screen and (min-width:768px)">
              <source srcset="./assets/img/graphics/2-mob.jpg" alt="">
              <img src="./assets/img/graphics/1.jpg" alt="">
            </picture>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="case-feedback__feedback">
          <div class="feedback-head">
            <div class="feedback-head__image"><img
                  src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                  alt=""></div>
            <div class="feedback-head__info">
              <h3>Amy Hope</h3>
              <p>Chief Ergonomist at Soter Analytics</p>
            </div>
          </div>
          <div class="feedback-text">
            <p>“The Health and Safety culture at Travis Perkins goes over and above and is
              one
              of the best I have been fortunate enough to be part of. They have an
              incredible
              reporting culture and employees look out for each other”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>