<section class="title-text title-text-image">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-text__block">
          <h2>General information</h2>
          <p>The SoterSpine: a wearable technology solution capturing 8 different types of hazardous movements and
            consisting of the smallest and lightest safety device on the market with industry-leading battery
            life. It is accompanied by a mobile app for the worker and an online dashboard for management.
            Implementing the SoterSpine solution helped the Travis Perkins Group reduce one of their largest
            injury problems — Manual Handling Injuries</p>
          <p>The solution provides a shift in manual handling behavioural change by transferring the
            responsibility to the individuals. Real-time feedback, autonomous learning and self-tracking elicits
            the increase in awareness required for self-adjustment <a href="#">Link</a></p>
{#          <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">#}
        </div>
      </div>
    </div>
  </div>
</section>