<header id="header" class="header">
    <div class="container">
        <nav class="header__navbar">
            <a class="header__logo" href="#"><img src="./assets/img/interface/logo.svg" alt="Логотип"></a>
            <button class="hamburger hamburger--emphatic" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <div class="header__navbar-nav">
                <ul id="navbarNav">
                    <li class="current-menu-item menu-item-has-children">
                        <a href="#">Solutions</a>
                        <ul class="sub-menu">
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Use Cases</a>
                        <ul class="sub-menu">
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Resources</a>
                        <ul class="sub-menu">
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Ссылка</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Log In</a></li>
                </ul>
                <a href="#" class="button button_blue">Try Soter</a>
                <div class="header__country country">
                    <button class="country__button global">Global</button>
                    <ul class="country__list">
                        <li><a class="country__value global" href="https://soteranalytics.com/">Global</a></li>
                        <li><a class="country__value aust" href="https://au.soteranalytics.com/">Australia</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>