<div class="modal">
  <div class="modal__block">
    <span class="modal-close"><img src="./assets/img/modal/close.svg" alt="Закрыть"></span>
    <form action="#" id="modal-form">
      <p>Enter Your Details</p>
      <div class="modal__wrapper request__user">
        <input type="text" name="order-name" id="order-name" required>
        <label for="order-name">First Name</label></div>
      <div class="modal__wrapper request__lastname">
        <input type="text" name="order-last-name" id="order-last-name" required>
        <label for="order-last-name">Last Name</label></div>
      <div class="modal__wrapper request__mail">
        <input type="e-mail" name="order-mail" id="order-mail" required>
        <label for="order-mail">E-mail</label></div>
      <div class="modal__wrapper request__company">
        <input type="Company name" name="order-company" id="order-company" required>
        <label for="order-company">Company name</label></div>
      <div class="modal__wrapper agree">
        <input type="checkbox" name="order-agree" id="order-agree" required>
        <label for="order-agree">I have read and agree to the <a
              href="http://xyz.soteranalytics.com/home-page/terms-conditions/">terms</a> and <a
              href="http://xyz.soteranalytics.com/home-page/privacy/">privacy policy</a> </label>
      </div>
      <button type="submit" class="button button_blue" id="modal-button">Buy soter</button>
    </form>
  </div>
</div>

<div class="change-currency">
  <div class="change-currency__block">
    <span class="change-currency-close"><img src="./assets/img/modal/close.svg" alt="Закрыть"></span>
    <form action="#" id="change-currency-form">
      <p> Choose Your Currency</p>
      <div class="order__subs-wrapper">
        <label for="change-currency-usd"><input type="radio"
                                                id="change-currency-usd"
                                                name="change-currency-curr"
                                                checked
                                                value="USD"
                                                required><span></span><span
              class="text">USD</span>
        </label>
        <label for="change-currency-gbp"><input type="radio"
                                                id="change-currency-gbp"
                                                name="change-currency-curr"
                                                value="GBP"
                                                required><span></span><span
              class="text">GBP</span>
        </label>
        <label for="change-currency-aud"><input type="radio"
                                                id="change-currency-aud"
                                                name="change-currency-curr"
                                                value="AUD"
                                                required><span></span><span
              class="text">AUD</span>
        </label>
      </div>
      <button type="submit" class="button button_blue" id="change-currency-button">Continue</button>
    </form>
  </div>
</div>

<div class="cookies">
  <div class="cookies__text">
    <p>
      If you continue browsing this website, you are accepting our cookies policy. To find
      out more about our cookies policy, <a href="#">click here.</a>
    </p>
  </div>
  <div class="cookies__button">
    <button class="cookies__submit">Agree</button>
  </div>
</div>

<div class="up-button"></div>