<section class="our-blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-blog__title">
          <h2>Read Our Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="our-blog__first-article">
          <a href="#" class="article-card">
            <div class="article-card__image">
              <img src="./assets/img/articles/1.jpg" alt="">
              <span class="article-card__date mobile">15.05.20</span>
            </div>
            <div class="article-card__desc">
              <span class="article-card__date">15.05.20</span>
              <div class="article-card__title">Quality Assurance and Quality Control</div>
              <p>Comrades! the new model of organizational activity requires us to analyze the positions
                taken by the participants in relation to the assigned tasks. The task of the
                organization, especially consultation with a broad asset, allows one to assess the
                significance of significant financial and administrative conditions. It should not be
                forgotten, however, that the constant quantitative growth and scope of our activity
                allows. </p>
              <div class="article-card__more"><b>Learn more</b> <img
                    src="./assets/img/cases/arrow.svg" alt=""></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="our-blog__rest-articles">
          <ul class="articles__list">
            {% for article in blogArticles %}
              <li><a href="#" class="article-card">
                  <div class="article-card__image">
                    <img src="./assets/img/articles/{{ article.image }}" alt="">
                    <span class="article-card__date">{{ article.time }}</span>
                  </div>
                  <div class="article-card__desc">
                    <div class="article-card__title">{{ article.title }}</div>
                    <p>{{ article.text }}</p>
                    <div class="article-card__more"><b>Learn more</b> <img
                          src="./assets/img/cases/arrow.svg" alt=""></div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>