<section class="products">
  <div class="container">
    <div class="row products__block">
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="products__image balls-br-sm">
          <img src="./assets/img/products/1-new.png" alt="">
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div class="products__content">
          <h2 class="title title_dark">SoterCoach</h2>
          <p class="text">
            The wearable device, personal mobile app & tutorials for workers to self-correct their movements
            in real-time. All the data is also accessible via the analytics dashboard.
          </p>
          <a href="#" class="button button_blue">explore sotercoach</a>
        </div>
      </div>
    </div>
    <div class="row products__block">
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="products__content">
          <h2 class="title title_dark">Clip&Go</h2>
          <p class="text">
            Personal app-free solution for worksites where is no opportunity to use mobile phones. All data
            is stored, synchronized & analyzed in the communal device management app.
          </p>
          <a href="#" class="button button_blue button_lower">explore clip&go</a>
        </div>

      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="products__image w-10 balls-bl-sm">
          <img src="./assets/img/products/2-new.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>