<section class="successes">
  <div class="container">
    <div class="row">
      <div class="col-12 successes__top with-dots">
        <h2 class="title title_dark">Success Is The Number of Healthy Workers</h2>
      </div>
    </div>
    <div class="row successes__block">
      <div class="col-12 col-lg-6 ">
        <div class="successes__video">
          <iframe width="100%" height="auto" data-src="https://www.youtube.com/embed/pabs8IHMUmQ" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <!--                    <img src="./assets/img/successes/img.jpg" alt="Картинка">-->
        </div>
      </div>
      <div class="col-12 col-lg-6 d-lg-flex align-items-lg-center">
        <div class="successes__content">
          <h3>The UK’s largest building merchant reduced manual handling injuries by 55%</h3>
          <p class="text">
            Course sir people worthy horses add entire suffer. Celebrated delightful an especially
            increasing instrument am. Pain son rose more park way that. Uncommonly no it announcing
            melancholy an in. Able rent long in do we. Bed uncommonly his discovered for estimating far.
            Their saved linen downs tears son add music.
          </p>
          <a href="#" class="button button_blue successes__button">download white paper</a>
        </div>
      </div>
    </div>
  </div>
</section>