<section class="privacy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pagecontent">
          <h1>Privacy</h1>
          <p><b>Please select your physical location to view the relevant privacy policy.</b></p>
          <ul>
            {% for privacyLink in list %}
              <li><a href="#">{{ privacyLink }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>